body{
    color:rgb(255, 203, 59);
    background:rgb(18, 0, 43);
    margin:0px;
}

header{
    border-bottom:solid 2px rgb(240, 14, 14);
    padding: 20px;
    font-size: 32px;
    color:rgb(255, 196, 0)
}

section{
    background: rgba(143, 95, 255, 0.801);
    padding-top: 80px;
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

